
<% @email = params[:em] %>
<% @eventid = params[:ev] %>
<% @response = params[:res] %>

<body class="body page-index clearfix">
  <div class="landing_header_bar">
    <p>
      <br/>
    </p>
  </div>
  <div class="landing_title">
    <p>
      RSVP

      Test?
    </br>
      <%= @email %>
      <%= @eventid %>
      <%= @response %>

    </p>





</body>
</body>
</html>
