
<span style="background: #BDB66F;">______</span><span style="background: #fff;"> = Donation > $0.00      </span><span style="background: #8C8540;">______</span><span style="background: #fff;">  = Donation > $1000      </span><span style="background: #464320;">______</span><span style="background: #fff;">  = Donation > $1M</span>

</br></br>
